@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}

img {
	pointer-events: none;
}

button {
	outline: none;
	border-style: solid;
	background: none;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
	outline: none;
	box-shadow: none;
	background-color: white;
}

a {
	font-style: none;
	text-decoration: none;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
	margin: 0;
	z-index: 0;
}

/*
    STRIPES
*/

.container {
	position: relative;
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	height: 100%;
}

.stripes-background {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	gap: 15px;
	overflow: hidden;
}

.stripe {
	background-color: #151515;
	width: calc((100% / 12));
	height: 100%;
}

@media (max-width: 800px) {
	.stripes-background {
		display: none;
	}
}

/*
    ENTER SCREEN
*/

.enter-wrapper {
	z-index: 2;
	height: auto;
	margin-bottom: 141px;
}

.enter {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
}

.enter-text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
		0 0 20px rgba(255, 255, 255, 0.4);
	transition: text-shadow 0.3s ease;
}

.container {
	opacity: 0;
	animation: fadeIn 1.5s ease forwards;
	animation-delay: 0.3s;
}

.enter-text:hover {
	text-shadow: 0 0 20px rgba(255, 255, 255, 1),
		0 0 30px rgba(255, 255, 255, 0.7);
}

.enter-text {
	color: white;
	text-transform: uppercase;
	font-size: 31px;
	letter-spacing: 8px;
	line-height: 42px;
	z-index: 3;
	margin-bottom: 50px;
	text-align: center;
}

.img-cont {
	position: relative;
	z-index: 3;
	margin-bottom: 30px;
	margin-top: 70px;
	cursor: pointer;
}

.logo {
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 3;
    transform: scale(1.1);
}

/* .img-cont {
    transition: transform 0.3s ease-in-out, filter 0.3s ease;
}

.img-cont:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
} */

@media (max-width: 768px) {
    .logo {
        transform: scale(1.0);
    }
	.enter-text {
		font-size: 1.8rem;
		letter-spacing: 5px;
		line-height: 36px;
	}

	.enter-wrapper {
		margin-bottom: 50px;
	}
}

@media (max-width: 480px) {
	.enter-text {
		font-size: 1.5rem;
		letter-spacing: 2px;
		line-height: 30px;
	}
}

/*
    SOCIAL MEDIA
*/

.links-row {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
}

.link-container {
	position: relative;
	z-index: 2;
	width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.link-container::before {
	content: "";
	position: absolute;
	border-radius: 10%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.06);
	z-index: 1;
}

.link-container img {
	position: relative;
	z-index: 2;
}

.link-container:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	transform: scale(1.1);
}

.link-container:hover::before {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
	.link-container {
		width: 48px; /* Уменьшаем размеры иконок на планшетах */
		height: 48px;
	}
}

@media (max-width: 480px) {
	.link-container {
		width: 40px; /* Уменьшаем размеры иконок на мобильных устройствах */
		height: 40px;
	}
}
/*
    GAMES
*/
.games-wrapper {
	z-index: 2;
	width: 100%;
	margin-bottom: 141px;
	position: relative;
}

.games {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.press-kit-btn-container,
.itch-io-btn-container,
.steam-btn-container {
	flex: 0 1 auto;
}

.press-kit-btn-container,
.itch-io-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 134px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.06);
	border-radius: 5px;
	gap: 5px;
	margin-bottom: 13px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.press-kit-btn-container:hover,
.itch-io-btn-container:hover {
	background-color: rgba(255, 255, 255, 0.12);
	transform: scale(1.05);
}

.steam-btn-container {
	height: 60px;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.06);
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.steam-btn-container:hover {
	background-color: rgba(255, 255, 255, 0.12);
	transform: scale(1.05);
}

.press-kit-btn-container span,
.itch-io-btn-container span,
.steam-btn-container span {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
}

.game-img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 278px;
    height: 374px;
    border: 0.5px solid rgba(255, 255, 255, 0.04);
    border-radius: 7px;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.scroll-button-right {
	position: absolute;
	right: 15px;
	top: 200px;
	outline: none;
	opacity: 1;
	max-width: 35px;
	max-height: 35px;
	overflow: hidden;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.doubled-button {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.games {
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-left: 29px;
        justify-content: center;
	}
}
@media (max-width: 800px) {
	.games {
		gap: 15px;
        justify-content: center;
	}
	.press-kit-btn-container span,
	.itch-io-btn-container span,
	.steam-btn-container span {
		color: rgba(255, 255, 255, 0.6);
		font-size: 12px;
		/* margin-top: 7px; */
	}
	.scroll-button-right {
		position: absolute;
		right: 15px;
		top: 150px;
		outline: none;
		opacity: 1;
		max-width: 35px;
		max-height: 35px;
		overflow: hidden;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	.games-wrapper {
		margin-bottom: 70px;
	}
	.block {
		height: 430px;
		width: 240px;
	}

	.game-img {
		width: 225px;
		height: 300px;
		margin-bottom: 0px;
	}

	.buttons-container {
		width: 225px;
		height: 106px;
	}

	.doubled-button {
		width: 225px;
		gap: 10.41px;
		margin-bottom: -5px;
	}
	.steam-btn-container {
		width: 225px;
		height: 48px;
	}
	.press-kit-btn-container,
	.itch-io-btn-container {
		width: 107.32px;
		height: 48px;
	}
}
/*
    GET THE NEWS BLOCK
*/

.news-wrapper {
	position: relative;
	z-index: 2;
	margin-bottom: 190px;
}

.news {
	position: relative;
	z-index: 2;
	width: 770px;
	height: 562px;
	margin: 0 auto;
}

.news-text {
	margin-bottom: 28px;
	font-weight: 600;
	font-size: 52px;
	line-height: 71px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.24em;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 4px 68px rgba(255, 255, 255, 0.56);
}

.special {
	color: white;
}

.email-field {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	width: 770px;
	margin: 0 auto;
	margin-bottom: 38px;
}

.email-input {
	position: relative;
	z-index: 2;
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0.06);
	border-radius: 5px 0 0 5px;
	font-size: 16px;
	color: white;
	height: 77px;
	padding-left: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

img,
a {
	cursor: pointer;
}

.patreon-link,
.boosty-link {
	display: inline-block;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.patreon-link:hover,
.boosty-link:hover {
	transform: scale(1.1);
	filter: brightness(1.5);
}

.email-btn {
	position: relative;
	z-index: 3;
	width: 168px;
	height: 51px;
	position: absolute;
	border: none;
	right: 13px;
	background-color: white;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.email-btn:hover {
	color: black;
	transform: scale(1.05);
}

.email-btn:active {
	transform: scale(0.95);
}

.doubled-sub {
	z-index: 2;
	position: relative;
	width: 770px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 11px;
}

.patreon-btn,
.boosty-btn {
	width: 379px;
	height: 288px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.patreon-text,
.boosty-text {
	color: white;
	font-size: 22px;
}

.doubled-patreon-container,
.doubled-boosty-container {
	width: 313px;
	display: flex;
	justify-content: space-between;
}

.doubled-patreon-container span,
.doubled-boosty-container span {
	color: rgba(255, 255, 255, 0.6);
}

.company-email {
	position: relative;
	z-index: 2;
	width: 770px;
	height: 52px;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	border-radius: 5px;
	justify-content: space-between;
}

.company-email span {
	padding-left: 15px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
}

.company-email-img {
	background-color: rgba(255, 255, 255, 0.04);
	width: 33px;
	height: 33px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease,
		box-shadow 0.3s ease;
}

.company-email-img:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transform: scale(1.1);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
	.news {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.news-text {
		font-size: 24px;
		line-height: 48px;
		letter-spacing: normal;
		margin-bottom: 20px;
	}

	.email-field {
		width: 95%;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.company-email {
		width: 95%;
		display: flex;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.email-input,
	.email-btn {
		height: 55px;
		font-size: 14px;
		margin-bottom: 10px;
		border-radius: 5px;
		border-width: thin;
		border-color: rgba(255, 255, 255, 0.1);
		background-color: rgba(255, 255, 255, 0.06);
		cursor: pointer;
	}

	.email-btn {
		height: auto;
		width: 102px;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.doubled-sub {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.patreon-btn,
	.boosty-btn {
		display: flex;
		justify-content: space-around;
		width: 95%;
		margin-bottom: 20px;
	}

	.doubled-boosty-container,
	.doubled-patreon-container {
		width: 70%;
	}

	.patreon-text,
	.boosty-text {
		font-size: 18px;
	}
}
/*
    FOOTER BLOCK
*/
.footer {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 1160px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.new-links-row {
	display: flex;
}

.footer-logo {
	margin-left: 10%;
}

.privacy-policy {
	color: rgba(255, 255, 255, 0.4);
	/* text-align: center; */
}

@media (max-width: 768px) {
	.footer {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.privacy-policy {
		text-align: center;
		order: 3;
	}
	.footer-logo {
		margin: 0;
	}
}

/*
    STEAM
*/

.steamEmbed {
	position: relative;
	z-index: 2;
	width: 90%;
	max-width: 771px;
	height: auto;
	margin: 0 auto;
}

.text {
	margin-bottom: 31px;
	font-weight: 600;
	font-size: 52px;
	line-height: 71px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.24em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 4px 68px rgba(255, 255, 255, 0.56);
}

.text span {
	color: white;
}

@media (max-width: 1024px) {
	.text {
		font-size: 40px;
		line-height: 55px;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.text {
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 15px;
		letter-spacing: 0.1em;
	}
}

@media (max-width: 480px) {
	.text {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 10px;
		letter-spacing: 0.05em;
	}
}

.wish-list-wrapper {
	width: 100%;
	margin-bottom: 141px;
}

.back-blur {
	position: absolute;
	z-index: 1;
	width: 609px;
	height: 584px;
	left: calc(50% - 609px / 2 - 0.5px);
	top: 0px;

	background: linear-gradient(
		180deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.38) 100%
	);
	opacity: 0.2;
	filter: blur(98.1px);
}



.privacy-container {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    height: auto;
    padding: 30px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.privacy-text {
    font-size: 20px;
    position: relative;
    z-index: 3;
    margin-top: 20px;
    line-height: 1.8;
}

.privacy-text a {
    /* font-family: "Nunito Sans", sans-serif; */
    color: #42AAFF;
    text-decoration: none;
    transition: color 0.3s;
}

.privacy-text a:hover {
    color: lightblue;
    text-decoration: underline;
}

b {
    line-height: 30px;
    font-weight: bold;
    /* color: #ffcc00; */
}

@media (max-width: 1200px) {
    .privacy-text {
        font-size: 16px;
    }
}

.success {
    background-color: #6BA21F;
    color: white;
}

.privacy-container {
	opacity: 0;
	animation: fadeIn 1.5s ease forwards;
	animation-delay: 0.3s;
}

